:root {
  --background-white-color: #fff;
  --background-gray-color: #f5f4fa;
  --background-footer: #2f303a;
  --main-text-color: #212121;
  --brand-color: #2196f3;
  --blue-color: #2196f3;
  --blue-color-hover: #188ce8;
  --link-color: rgba(117, 117, 117, 1);
}

body {
  background-color: var(--background-white-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.logo {
  color: var(--main-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo span {
  color: var(--brand-color);
}

footer .logo {
  color: var(--background-white-color);
}

.main-nav ul {
  list-style: none;
  padding: 0;
}

.main-nav .main-nav-item {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 0.85;
  text-decoration: none;
}

.main-nav .main-nav-item:hover, .main-nav .main-nav-item.active {
  color: var(--blue-color);
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list .contact-list-item {
  color: var(--link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 0.85;
  text-decoration: none;
}

.contact-list .contact-list-item:hover {
  color: var(--blue-color);
}
.main-section {
  background-color: #2f303a;
  text-align: center;
}
.main-title {
  color: var(--background-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-decoration: none;
}
.main-button {
  background-color: var(--brand-color);
  color: var(--background-white-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.list-first-title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list-first-text {
  color: var(--link-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.list-first {
  list-style: none;
}
.main-dicaration {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.main-dicaration-first {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.main-dicaration-leter {
  color: var(--link-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.main-dicaration-heder {
  list-style: none;
}
.main-title-last {
  background-color: var(--background-footer);
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
}
.main-title-leter {
  font-style: normal;
  color: var(--background-white-color);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.button-portfolio:hover {
  color: var(--background-white-color);
  background-color: var(--brand-color);
}
.button-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--background-gray-color);
}
.section-portfolio {
  list-style: none;
}
.section-portfolio-item {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.section-portfolio-title {
  color: var(--link-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.main-title-adress {
  color: var(--background-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
